# spacy
requests
opencv-python==4.2.0.32
numpy 
gtts 
playsound 
wikipedia 
paramiko 
scp 
inputs
Flask
flask_sqlalchemy
gevent
gevent-websocket
# SpeechRecognition==3.1.2
SpeechRecognition==3.4.6
pyaudio==0.2.11
