<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js" integrity="sha512-HTENHrkQ/P0NGDFd5nk6ibVtCkcM7jhr2c7GyvXp5O+4X6O5cQO9AhqFzM+MdeBivsX7Hoys2J7pp2wdgMpCvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.10.0/nipplejs.js" integrity="sha512-+51ykZ6kGNAEm+QvXP+iadxWg3XZGTD9I1GLhJILv9gvTzHdmwik3xKjZ4ieYn8Oua0+3NGIwWwDHMl6kR4ufQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"> -->
</head>
<body>
    <!-- <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="250px">
    </div> -->
    <!-- <div>
        <ul class="menu">
            <li class="menu-items items-left"><a class="menu-items active" href="/">Home</a></li>
            <li class="menu-items items-left"><a class="menu-items" href="/environment">Environment</a></li>
            <li class="menu-items items-right"><a class="menu-items" href="/say">Contact</a></li>
            <li class="menu-items items-right"><a class="menu-items" href="/settings">Settings</a></li>
        </ul>
    </div> -->

    <div class="isolate bg-white">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"></div>
        <div class="px-6 pt-6 lg:px-8">
            <div>
                <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12">
                    <a href="/" class="font-semibold text-gray-900 text-sm hover:text-gray-900">Home</a>
                    <a href="/environment" class="font-semibold text-gray-900 text-sm hover:text-gray-900">Environment</a>
                    <a href="/say" class="font-semibold text-gray-900 text-sm hover:text-gray-900">Contacts</a>
                    <a href="/rotate" class="font-semibold text-gray-900 text-sm hover:text-gray-900">Settings</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
      	<form action="/sendMessage" method="post" class="">
        	<div class="form-container">
          		<input type="text" name="text" class="text-box" id="text" placeholder="Scrivi qualcosa...">
          		<button class="subscribe_button" onclick="sendOnClick()" type="submit">Invia</button>
        	</div>
    	</form>
    </div> -->

    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="sm:text-center">
            <h2 class="text-lg font-semibold leading-8 text-white">Environment</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Move your Pepper</p>
            <p class="mx-auto mt-6 max-w-2xl text-sm font-text leading-8 text-gray-200">Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 place-content-center place-items-center h-48">
        <div><p class="text-lg font-semibold leading-8 text-gray-900">Move Forward</p></div>
        <div><p class="text-lg font-semibold leading-8 text-gray-900 my-12">Rotation</p></div>
        <div id="static-forward"></div>
        <div id="static-rotate"></div>
    </div>
    

    <script type="text/javascript" src="{{ url_for('static', filename='js/environment.js') }}"></script>
</body>
</html>