<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.10.0/nipplejs.js" integrity="sha512-+51ykZ6kGNAEm+QvXP+iadxWg3XZGTD9I1GLhJILv9gvTzHdmwik3xKjZ4ieYn8Oua0+3NGIwWwDHMl6kR4ufQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js" integrity="sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Gateway</title>
</head>
<body>
    <div class="relative bg-white">
        <div class="mx-auto max-w-7xl px-6">
            <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
                <div class="flex justify-start lg:w-0 lg:flex-1">
                    <a href="/Homepage" class="text-base font-medium text-gray-500 hover:text-gray-900">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Pepper" class="object-contain content-center mx-auto h-8">
                    </a>
                </div>
                <div class="-my-2 -mr-2 md:hidden">
                    <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-red-500" aria-expanded="false">
                        <span class="sr-only">Open menu</span>
                    </button>
                </div>
            <nav class="space-x-10 md:flex">
                <div class="relative" onclick="showItem('m-1')">
                    <button type="button" class="text-gray-500 group inline-flex items-center rounded-md bg-white text-base font-medium hover:text-gray-900 focus:outline-none" aria-expanded="false">
                        <span>Movement</span>
                        <svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div class="hidden absolute z-10 -ml-4 mt-3 w-screen max-w-md transform px-2 sm:px-0 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2" id="m-1">
                        <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
                            <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                <a href="/joypadMode" class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50">
                                    <svg class="h-6 w-6 flex-shrink-0 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">Joypad</p>
                                        <p class="mt-1 text-sm text-gray-500">Move the robot the way you want.</p>
                                    </div>
                                </a>
                                <a href="/pointsOfInterest" class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50">
                                    <svg class="h-6 w-6 flex-shrink-0 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">Points of Interest</p>
                                        <p class="mt-1 text-sm text-gray-500">Save all your points of interests, permanently.</p>
                                    </div>
                                </a>
                                <a href="/explorationMode" class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50">
                                    <svg class="h-6 w-6 flex-shrink-0 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">Exploration Mode</p>
                                        <p class="mt-1 text-sm text-gray-500">Create map for your robot.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <a href="/chatMode" class="text-base font-medium text-gray-500 hover:text-gray-900">Conversation</a>
            <a href="https://github.com/UniCT-ARSLab/PepperGateway" class="text-base font-medium text-gray-500 hover:text-gray-900">Docs</a>
            <a href="/settingsPage" class="text-base font-medium text-gray-500 hover:text-gray-900">Settings</a>
            <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0"></div>
        </div>
    </div>
        <!-- <div class="absolute inset-x-0 top-0 origin-top-right transform p-2 transition md:hidden">
            <div class="divide-y-2 divide-gray-50 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                <div class="px-5 pt-5 pb-6">
                    <div class="flex items-center justify-between">
                        <div class="-mr-2"></div>
                    </div>
                    <div class="space-y-6 py-6 px-5">
                        <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                            <a href="#" class="text-base font-medium text-gray-900 hover:text-red-700">Homepage</a>
                            <a href="#" class="text-base font-medium text-gray-900 hover:text-red-700">Movement</a>
                            <a href="#" class="text-base font-medium text-gray-900 hover:text-red-700">Conversation</a>
                            <a href="#" class="text-base font-medium text-gray-900 hover:text-red-700">Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="isolate bg-white my-8">
        <main>
            <div class="relative px-6 lg:px-8">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Pepper" class="object-contain content-center mx-auto h-48 w-96">
                <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
                    <div>
                        <div class="m-[-10rem]">
                            <h1 class="text-4xl font-bold tracking-tight sm:text-center sm:text-6xl">Advanced Gateway <br> based on Pepper Robot</h1><br>
                            <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">Advanced Gateway based on Pepper Robot is the project for my BsC Degree. <br> Now, user can establish a point of contact between him and the robot itself, order movements and/or information, or more generally request tasks.</p>
                            <div class="mt-8 flex gap-x-4 sm:justify-center">
                                <a href="#" class="inline-block rounded-lg bg-red-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-red-600 hover:bg-red-700 hover:ring-red-700">
                                    Watch Demo
                                    <span class="text-red-200" aria-hidden="true">&rarr;</span>
                                </a>
                            </div>
                        </div>
                        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
                            <svg class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
                                <defs>
                                    <linearGradient id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#9089FC"></stop>
                                        <stop offset="1" stop-color="#FF80B5"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/indexScript.js"></script>
    <!-- <script>
        function showItem(id) {
            const item = document.getElementById(id);
            item.classList.toggle("hidden");
        }
        function hideItem(id) {
            const item = document.getElementById(id);
            item.classList.add("hidden");
        }
    </script> -->
</body>
</html>