<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js" integrity="sha512-HTENHrkQ/P0NGDFd5nk6ibVtCkcM7jhr2c7GyvXp5O+4X6O5cQO9AhqFzM+MdeBivsX7Hoys2J7pp2wdgMpCvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.10.0/nipplejs.js" integrity="sha512-+51ykZ6kGNAEm+QvXP+iadxWg3XZGTD9I1GLhJILv9gvTzHdmwik3xKjZ4ieYn8Oua0+3NGIwWwDHMl6kR4ufQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <title>Points of Interest</title>
</head>
<body>
    <!-- Navbar -->
    <div class="relative bg-white">
        <div class="mx-auto max-w-7xl px-6">
            <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
                <div class="flex justify-start lg:w-0 lg:flex-1">
                    <a href="/Homepage" class="text-base font-medium text-gray-500 hover:text-gray-900">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Pepper" class="object-contain content-center mx-auto h-8">
                    </a>
                </div>
                <div class="-my-2 -mr-2 md:hidden">
                    <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-red-500" aria-expanded="false">
                        <span class="sr-only">Open menu</span>
                    </button>
                </div>
            <nav class="space-x-10 md:flex">
                <div class="relative" onclick="showItem('m-1')">
                    <button type="button" class="text-gray-500 group inline-flex items-center rounded-md bg-white text-base font-medium hover:text-gray-900 focus:outline-none" aria-expanded="false">
                        <span>Movement</span>
                        <svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div class="hidden absolute z-10 -ml-4 mt-3 w-screen max-w-md transform px-2 sm:px-0 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2" id="m-1">
                        <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
                            <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                <a href="/joypadMode" class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50">
                                    <svg class="h-6 w-6 flex-shrink-0 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">Joypad</p>
                                        <p class="mt-1 text-sm text-gray-500">Move the robot the way you want.</p>
                                    </div>
                                </a>
                                <a href="/pointsOfInterest" class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50">
                                    <svg class="h-6 w-6 flex-shrink-0 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">Points of Interest</p>
                                        <p class="mt-1 text-sm text-gray-500">Save all your points of interests, permanently.</p>
                                    </div>
                                </a>
                                <a href="/explorationMode" class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-50">
                                    <svg class="h-6 w-6 flex-shrink-0 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">Exploration Mode</p>
                                        <p class="mt-1 text-sm text-gray-500">Create map for your robot.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <a href="/chatMode" class="text-base font-medium text-gray-500 hover:text-gray-900">Conversation</a>
            <a href="https://github.com/UniCT-ARSLab/PepperGateway" class="text-base font-medium text-gray-500 hover:text-gray-900">Docs</a>
            <a href="/settingsPage" class="text-base font-medium text-gray-500 hover:text-gray-900">Settings</a>
            <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0"></div>
        </div>
    </div>

    <div class="isolate bg-white">
        <!-- <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
            <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
                <defs>
                    <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#9089FC"></stop>
                        <stop offset="1" stop-color="#FF80B5"></stop>
                    </linearGradient>
                </defs>
            </svg>
        </div> -->

        <main>
            <div class="relative px-6 lg:px-8">
                <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
                    <div>
                        <div>
                            <h1 class="text-4xl font-bold tracking-tight sm:text-center sm:text-4xl">Save your local points as you need</h1>
                            <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">Stabilisci tutti i tuoi punti d'interesse in relazione alla mappa caricata all'interno di Pepper.</p>
                            <div class="mt-8 flex gap-x-4 sm:justify-center">
                                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                    <form action="/add" method="post">
                                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Add a point of interest...</label>
                                        <div class="relative">
                                            <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Add a point of interest..." required>
                                            <button type="submit" class="text-blue-700 absolute right-2.5 bottom-2 bg-white-700 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600">Add</button>
                                        </div>
                                    </form>
                                    
                                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-white-700 dark:text-gray-400">
                                            <tr>
                                                <th scope="col" class="px-32 py-3">
                                                    Point Name
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    <span class="sr-only">Raggiungi</span>
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    <span class="sr-only">Elimina</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for target in targetList %}
                                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ target.text }}</td>
                                                <td class="px-6 py-4 text-right">
                                                    <a href="/get/{{ target.id }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Raggiungi</a>
                                                </td>
                                                <td class="px-6 py-4 text-right">
                                                    <a href="/delete/{{ target.id }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Elimina</a>
                                                </td>
                                                <!-- <td><a href="/get/{{ target.id }}"><i class="fa-solid fa-hand-point-up"></i></a></td> -->
                                                <!-- <td><a href="/delete/{{ target.id }}"><i class="fa-solid fa-trash"></i></a></td> -->
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                            <div class="relative overflow-hidden rounded-full py-1.5 px-4 mr-4 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                                <span class="text-gray-600">
                                    Before any movement-related operations, it is necessary to create or load a map of the environment. 
                                </span>
                            </div>
                            <!-- <div class="relative overflow-hidden rounded-full py-1.5 px-4 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                                <span class="text-gray-600"><a href="/loadMap" class="font-semibold text-red-600"><span class="absolute inset-0" aria-hidden="true"></span>LOAD LATEST MAP<span aria-hidden="true"></span></a></span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/indexScript.js"></script>
</body>
</html>